doctype html
html(class="no-js", lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= "Eve Contracts Login"
    meta(name="description", description="Login page")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    style.
  body
    div.container-fluid
      div.btn.btn-default.
        Login
    script(src=entry)
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','#{trackingId}','auto');ga('send','pageview')
    if trackingId
      script(src="https://www.google-analytics.com/analytics.js", async=true, defer=true)
